<section class="mb-3 w-25">
  <form
    (ngSubmit)="logIn()"
    [formGroup]="loginForm"
  >
    <courses-input-errors
      [control]="username"
    ></courses-input-errors>
    <input type="text"
          class="form-control mb-3"
          placeholder="Username"
          formControlName="username"
          coursesInputHighlight
    >
    <courses-input-errors
      [control]="password"
    ></courses-input-errors>
    <input type="password"
          class="form-control mb-3"
          placeholder="Password"
          formControlName="password"
          coursesInputHighlight
    >
    <button type="submit"
            class="btn btn-primary"
            translate
            [disabled]="loginForm.invalid"
    >header.login</button>
  </form>

</section>
