<section class="container mb-3">

  <courses-toolbox (search)="onSearch($event)"></courses-toolbox>

  <ul>
    <courses-list-item *ngFor="let course of courses | orderByDate"
                       [course]="course"
                       (deleteCourse)="onDelete($event)"
    ></courses-list-item>
  </ul>

  <button class="btn w-100"
          (click)="loadCourses()"
          *ngIf="isLoadAvailable"
  >Load more</button>

  <div class="alert alert-danger" *ngIf="!courses.length">
    No data. Feel free to add new course.
  </div>

</section>
