<header class="container d-flex my-2 justify-content-between">
  <h1 translate>header.title</h1>

  <div>
    <div ngbDropdown class="mb-2">
      <button
        class="btn btn-outline-primary w-100"
        ngbDropdownToggle
        translate
      >{{ language.translationKey }}</button>
      <div ngbDropdownMenu>
        <button
          *ngFor="let lang of languages"
          ngbDropdownItem
          translate
          (click)="onLanguageChange(lang)"
        >{{ lang.translationKey }}</button>
      </div>
    </div>

    <a 
      class="btn btn-primary"
      routerLink="/login"
      translate
      *ngIf="isLoginShown$ | async"
    >header.loging</a>

    <div *ngIf="isLoggedIn$ | async">
      <span>{{ user$ | async }}</span>
      <button
        type="button"
        class="btn btn-primary ml-2"
        translate
        (click)="logOut()"
      >header.logout</button>
    </div>
  </div>

</header>
